@font-face {
  font-family: "iconfont"; /* Project id 2795022 */
  src: url('iconfont.woff2?t=1631179753303') format('woff2'),
       url('iconfont.woff?t=1631179753303') format('woff'),
       url('iconfont.ttf?t=1631179753303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-Down2:before {
  content: "\e611";
}

.icon-Arrow-Left2:before {
  content: "\e612";
}

.icon-chahao:before {
  content: "\e614";
}

.icon-dingwei:before {
  content: "\e61b";
}

.icon-dingwei1:before {
  content: "\e627";
}

.icon-dingwei2:before {
  content: "\e606";
}

.icon-dingwei-:before {
  content: "\e629";
}

.icon-qizhidingwei:before {
  content: "\e61f";
}

.icon-dingwei3:before {
  content: "\e61d";
}

.icon-dawan:before {
  content: "\e61e";
}

.icon-zhongwan:before {
  content: "\e628";
}

.icon-xiaowan:before {
  content: "\e62b";
}

.icon-waixingren:before {
  content: "\e605";
}

.icon-wan:before {
  content: "\e65c";
}

.icon-tianjiazengjiajia:before {
  content: "\e609";
}

