.componentFooter{
    position: absolute;
    bottom: 0;
    background-color: white;
    min-height: 5rem;
    width: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    .content{
        padding: 20px;
        .targetMsg{
            .left{
                float: left;
                width: 80%;
                .name{
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: .5rem;
                }
            }
            .right{
                float: left;
                width: 20%;
            }
        }
        .targetMsg::after{
            content: "";
            clear: both;
            display: block;
            height: 0;
            visibility: hidden;
        }
    }
}